@font-face {
    font-family: 'Amatic SC';
    src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    font-weight: bold;
    src: url(../fonts/Amatic_SC/AmaticSC-Bold.ttf);
    font-display: swap;
}